<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="email_host" value=""/>
    <add key="email_port" value="" />
    <add key="email_user" value="" />
    <add key="email_pass" value="" />
    <add key="email_from" value="" />
    <add key="email_default_to" value="" />
    <add key="email_default_subject" value="" />
    <add key="email_default_body" value="" />
  </appSettings>
</configuration>