<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Messages">
      <section name="TestMessageA" type="System.Configuration.NameValueSectionHandler" />
      <section name="TestMessageB" type="System.Configuration.NameValueSectionHandler" />
      <section name="PhotoResizeTest" type="System.Configuration.NameValueSectionHandler" />
      <section name="VoucherEndingReminderTest" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="broker" value="tcp://127.0.0.1:5555"/>
    <add key="logger_service" value="logger" />
  </appSettings>

  <Messages>
    <TestMessageA>
      <add key="service" value="test_a"/>
      <add key="content_1" value="hello" />
      <add key="content_2" value="world" />
      <add key="content_3" value="!" />
    </TestMessageA>
    <TestMessageB>
      <add key="service" value="test_b"/>
      <add key="content_1" value="welcome" />
      <add key="content_2" value="to" />
      <add key="content_3" value="test_b" />
    </TestMessageB>
    <PhotoResizeTest>
      <add key="service" value="photoresize"/>
      <add key="ftp host" value="mijn.pptest.nl" />
      <add key="ftp user" value="pptestftpuser" />
      <add key="ftp pass" value="2present4test" />
      <add key="ftp upload" value="/lib/resize/in/" />
      <add key="ftp download" value="/lib/resize/out/konijn.jpg" />
      <add key="img width" value="100" />
      <add key="img height" value="100" />
    </PhotoResizeTest>
    <VoucherEndingReminderTest>
      <add key="service" value="voucherendingreminder" />
      <add key="photographer name" value="testphotographer"/>
      <add key="company name" value="test photography" />
      <add key="coverage name" value="test coverage" />
      <add key="voucher name" value="TEST_VOUCHER" />
      <add key="end date" value="07/09/2014 13:36:35" />
      <add key="email address to" value="tim@picturepresent.nl" />
      <add key="email subject" value="voucher ending reminder test" />
      <!-- add key="date to send at (optional)" value="07/09/2014 13:38:35" / -->
    </VoucherEndingReminderTest>
  </Messages>
</configuration>